.form {
  &__fieldset {
    box-shadow: 6px 6px 19px 0px rgba(47, 50, 50, 0.54);
    border-radius: 5px;
    border: none;
    background-image: url('https://www.researchgate.net/profile/M-Basri/publication/320925728/figure/fig3/AS:631619933192230@1527601335529/India-GDP-Growth-Interest-Rate-Forex-Reserves-Exchange-Rates-and-Current-Account.png');
    background-position: center;
    background-size: cover right;
    background-repeat: no-repeat;
    position: relative;
    z-index: 30;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $bgc-primary-overlay;
      border-radius: 5px;
      position: absolute;
      z-index: -10;
    }
  }
  &__list {
    padding: 10px;
    list-style: none;
  }
  &__actualisationInput {
    min-height: 20px;
    height: 80px;
    width: 100%;
    margin-bottom: 50px;
    padding: 20px;
    font-size: 20px;
    color: $color-300;
    background-color: $bgc-secondary;
    border: none;
    outline: none;
  }
  &__labelText {
    display: inline-block;
    padding-bottom: 15px;
    font-size: 15px;
    color: $color-200;
    letter-spacing: 1px;
    word-spacing: 3px;
    &--middle {
      margin-top: 30px;
    }
    &--last {
      margin-top: 40px;
    }
  }
  /*  common styles for select and input number */
  &__selectVisual-select, 
  &__amountVisual-input {
    padding: 8px 30px 8px 10px;
    font-size: 13px;
    letter-spacing: 2px;
    background-color: $bgc-inputs;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    border: none;
    border-radius: 3px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
    &:focus  + .focus {
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      border: 1.5px solid $color-200;
      border-radius: 4px;
      pointer-events: none;
      z-index: 1;
    }
  }
  &__selectVisual {
    position: relative;
    &--arrow {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 2rem;
      background-color: $bgc-details;
      pointer-events: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      &::before,::after {
        --size: 5px;
        content: '';
        position: absolute;
        width: 0;
        height: 0;
      }
      &::before {
        border-left: var(--size) solid transparent; 
        border-right: var(--size) solid transparent;
        border-top: var(--size) solid $color-100;
      }
    }
    &-select {
      display: inline-block;
      min-height: 35px;
      width: 100%;
      color: $color-100;
      cursor: pointer;
    }
  }

  &__amountVisual {
    position: relative;
    &-input {
      min-height: 35px;
      width: 100%;
      color: $color-100;
    }
  }
  &__paragraph {
    font-size: 10px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: $color-200;
  }
  &__item {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    &-button {
        padding:10px 15px;
        border-radius: 3px;
        border: none;
        color: $color-300;
        background-color: $bgc-secondary;
        letter-spacing: 1px;
        outline: none;
        border: 2px solid transparent;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
          color: $color-100;
          transform: translateY(-1px);
        }
        &:focus {
          border: 2px solid $color-200;
        }
        &:active {
          background-color: $bgc-details;
          transform: translateY(3px);
        }
    }
  }
}
