// background-colors
$bgc-primary-overlay: #cfdde3e2;
$bgc-secondary: #9ac0d8b6;
$bgc-inputs: #4d5061c1;
$bgc-details: #3b3c47;
$bgc-body: #2e86abc4;

// font colors
$color-100: rgba(255, 255, 255, 0.79);
$color-200: #186889;
$color-300: #3b3c47;
