html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Antonio', sans-serif;
  background-color: #2E86AB;
}

.container {
  width: 100%;
  max-width: 550px;
  margin: auto;
  color: #ffffffc2;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #2E86AB;
}

.form__heading {
  padding: 30px;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.form__fieldset {
  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
}

.form__list {
  padding: 10px;
  list-style: none;
}

.form__actualisationInput {
  min-height: 20px;
  min-width: 250px;
  margin-bottom: 50px;
  padding: 20px;
  font-size: 20px;
  border: none;
  background-color: #c4d6e1;
  color: rgba(48, 44, 44, 0.79);
  outline: none;
}

.form__labelText {
  display: inline-block;
  padding-bottom: 15px;
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: 3px;
  color: #2E86AB;
}

.form__labelText--middle {
  margin-top: 30px;
}

.form__labelText--last {
  margin-top: 30px;
}

.form__selectVisual-select, .form__amountVisual-input {
  background-color: #4d5061;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  padding: 8px 30px 8px 10px;
  border: none;
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  font-size: 13px;
}

.form__selectVisual-select:focus + .focus, .form__amountVisual-input:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid #4889c2;
  border-radius: inherit;
  z-index: 10;
}

.form__selectVisual {
  position: relative;
  max-width: 250px;
}

.form__selectVisual--arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 2rem;
  background-color: #3b3c47;
  pointer-events: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.form__selectVisual--arrow::before, .form__selectVisual--arrow ::after {
  --size: 5px;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}

.form__selectVisual--arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid #fff;
}

.form__selectVisual-select {
  display: inline-block;
  width: 100%;
  color: rgba(255, 255, 255, 0.79);
  cursor: pointer;
}

.form__amountVisual {
  position: relative;
  max-width: 250px;
}

.form__amountVisual-input {
  color: white;
  width: 100%;
  color: rgba(255, 255, 255, 0.79);
}

.form__paragraph {
  font-size: 10px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #2E86AB;
}

.form__button {
  margin: 30px;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  background-color: #4d5061;
  color: rgba(255, 255, 255, 0.79);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.331);
  letter-spacing: 1px;
  transition: all .3s ease-in-out;
  outline: none;
  border: 2px solid transparent;
}

.form__button:hover {
  transform: translateY(-1px);
}

.form__button :focus {
  border: 2px solid #4889c2;
}

.form__button :active {
  background-color: #3b3c47;
  transform: translateY(3px);
}

.footer {
  text-align: center;
}

.footer__paragraph {
  font-size: 14px;
}

/* hide arrows input numbers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

select::-ms-expand {
  display: none;
  background-color: #2b2e2e;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.79);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.79);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.79);
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.79);
}

/* do imput when disable */
/*# sourceMappingURL=style.css.map */